{% extends 'base.html' %}

{% block outside_container %}
<div class="jumbotron text-center">
<h1>Coming Soon!</h1>
<p>A Social Site for Companies.</p>
</div>
{% endblock %}
{% block content %}
<div class="row">
<div class="col-lg-12">
    <p>Cosby sweater keffiyeh plaid tote bag slow-carb, street art 3 wolf moon wayfarers you probably haven't heard of them cray retro meggings bitters. Sriracha leggings Godard post-ironic. Umami Helvetica kogi flannel Kickstarter. Street art High Life butcher Austin, forage narwhal Schlitz. Pug food truck Wes Anderson, church-key normcore Shoreditch photo booth meggings Pinterest hella deep v Odd Future salvia Williamsburg 8-bit. Synth lomo High Life brunch. VHS forage pickled, selvage you probably haven't heard of them locavore tofu tattooed mustache Thundercats Shoreditch Pinterest flexitarian Helvetica meh.</p>

<p>PBR mixtape Austin artisan, small batch fingerstache Bushwick. Disrupt Pitchfork banh mi farm-to-table, gluten-free post-ironic irony master cleanse four loko mixtape biodiesel. Letterpress cornhole tattooed, lo-fi Wes Anderson jean shorts mixtape Carles locavore. Leggings Schlitz McSweeney's craft beer, Etsy retro yr hella. Ennui chambray messenger bag Godard put a bird on it. Distillery Helvetica Marfa meggings kale chips, art party irony Thundercats vinyl retro tote bag selfies put a bird on it. Fanny pack jean shorts chambray vegan irony.</p>
</div>
</div>
{% endblock %}